*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}
.task2{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
   background-image: url(https://cdn.pixabay.com/photo/2017/07/28/14/29/macarons-2548827_960_720.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.box{
    height: 850px;
    width: 600px;
    background-color: #fff;
}
.box__image img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.box__text{
    height: 50%;
    width: 100%;
    padding: 40px 40px;
}
.box__text--time{
    margin: 10px 0;
}
.box__text--time span{
    margin-left: 5px;
    border-left: 2px solid #000;
    color: rgb(22, 95, 198);
}
.box__text h2{
    line-height: 40px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    color: #C075A2;
}
.main__text{
    line-height: 25px;
}